.social-share-button-facebook, .social-share-button-email, .social-share-button-google_plus, .social-share-button-linkedin, .social-share-button-pinterest, .social-share-button-twitter{
  background: url(image-path('social.png')) no-repeat;
  display:inline-block;
}

.social-share-button-facebook{
  background-position: 0 0;
  width: 64px;
  height: 64px;
}

.social-share-button-email{
  background-position: -69px 0;
  width: 64px;
  height: 64px;
}

.social-share-button-google_plus{
  background-position: -71px -67px ;
  width: 64px;
  height: 64px;
}

.social-share-button-linkedin{
  background-position: 0 -68px ;
  width: 64px;
  height: 64px;
}

.social-share-button-pinterest{
  background-position: -149px 0;
  width: 64px;
  height: 64px;
}

.social-share-button-twitter{
  background-position: -148px -67px ;
  width: 64px;
  height: 64px;
}
